<div class="home_log">
    <h1>My Budget</h1>
    <div>
        <div>
            <div>
                <div class='log_links'>
                    <%= link_to "Log in", new_user_session_path, :class =>"link_log_in" %>
                    <%= link_to "Sign up", new_user_registration_path, :class =>"link_sign_up" %>
                </div>
            </div>
        </div>
    </div>
</div>