/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-color: rgb(245, 245, 245);
    font-family: 'Raleway', sans-serif;
    color: rgb(243, 243, 243);
 }

 a {
    color: #fff;
 }

 .nav {
    position: fixed;
    top: 0;
    width: 100%;
 }

 main {
    max-width: 414px;
    margin: 0 auto;
    background-color: rgb(56, 25, 143);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }

 .title {
    margin-bottom: 30px;
    text-align: center;
 }

 .categories {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.356);
    min-height: 90vh;
 }

 .add_category {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
 }

 .add_category a {
    color: rgb(56, 25, 143);
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
    border-radius: 30px;
    background-color: #fff;
 }
 
 .category {
    margin-top: 15px;
    background-color: #fff;
    color: rgb(84, 24, 139);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .category button {
    border: none;
    color: #fff;
    background-color: crimson;
    border-radius: 10px;
    padding: 5px 10px;
 }

 .category h3 {
    color: rgb(84, 24, 139);
 }

 .category_body {
    display: flex;
    justify-content: space-between;
 }

 .category_body h3 {
    margin-left: 50px;
 }

 .category img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
 }

 .category a {
    color: #fff;
    text-decoration: none;
 }