<%= link_to category do %>
    <div id="<%= dom_id category %>" class = "category_body">
      <img src="<%= category.icon %>" alt='Category icon' />
      <div>
          <h3><%= category.name %></h3>
      </div>
    </div>
<% end %>